auto-install-peers=true
strict-peer-dependencies=false
package-manager-strict=false
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=unrs-resolver
